{% load url from future %}
<div class="event-blurb span10">
    <div class="row">
        <div class="span1">
            <strong>{{ event.start|date:"l" }}</strong>
            <p>{{ event.start|date:"F j" }}
        </div>
        <div class="span9">
            <a href="{% url 'event' event.id %}">
                <h2>{{ event.name }}</h2>
            </a>
            <p>
            <p><strong>When:</strong> {{ event.start|date:"l, F j" }} &ndash; {{ event.end|date:"l, F j" }}</p>
            <p><strong>Where:</strong> TODO</p>
        </div>
    </div>
</div>
