{% load url from future %}
{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    
    <link rel="icon" type="image/png" href="favicon.png" />
    
    {% compress css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/chosen.css' %}" />
    {% endcompress %}
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{% url 'home' %}">{{ site.name }}</a>
                {% block navbar %}
                <ul class="nav pull-right">
                    <li><a href="{% url 'auth_login' %}">Log in</a></li> 
                    <li><a href="{% url 'registration_register' %}">Register</a></li>
                </ul>
                {% endblock %}
            </div> <!-- .container -->
        </div> <!-- .navbar-inner -->
    </div> <!-- .navbar.navbar-fixed-top -->
    <div class="container">
        <div id="content" class="container">
            <div class="row">
                <div class="span2">
                    {% block sidebar %}{% endblock %}
                </div>
                <div class="span10">
                    {% if messages %}
                        <div class="messages">
                        {% for message in messages %}
                            <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                                <a class="close" data-dismiss="alert" href="#">×</a>
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="page-header">
                        {% block header %}
                        <h1>{{ url_name|capfirst }}</h1>
                        {% endblock %}
                    </div> <!-- .page-header -->
                    {% block content %}{% endblock %}
                </div> <!-- .span10 -->
            </div> <!-- .row -->

        </div> <!-- #content.container -->
        <div id="footer">{% block footer %}{% endblock %}</div> <!-- #footer -->
    </div> <!-- .container -->


    {% compress js %}
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chosen.jquery.js' %}"></script>
    <script type="text/javascript">
        $("select").chosen();
    </script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}
</body>

</html>
