{% load url from future %}
{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    
    <link rel="icon" type="image/png" href="favicon.png" />
    
    {% compress css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}" />
    {% block extra_css %}{% endblock %}
    {% endcompress %}
    
    <script type="text/javascript">
        USER = "{{ req.user }}";
        SITE = "{{ site }}";
    </script>
</head>

<body id="landingPage">
    <div id="content">
    
    {% block content %}{% endblock %}
    
    </div>
    
    {% compress js %}
    <script type="text/javascript" src="{% static 'js/lib/jquery-1.7.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/backbone.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone-tastypie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/chosen.jquery.js' %}"></script>
    
    {% block extra_js %}{% endblock %}
    {% endcompress %}
</body>

</html>
