@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
/* Handcrafted by Ilter Canberk  */
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Global Reset
:: Canvas
:: Event
*/
/*  --------------------------------------------------
  Global Reset & Standards
  -------------------------------------------------- */
/* line 17, ../scss/base.scss */
html {
  height: 100%;
}

/* line 21, ../scss/base.scss */
body {
  height: 100%;
  background: #e5e4e4;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif, Tahoma;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  padding: 0;
  margin: 0;
}

/* line 33, ../scss/base.scss */
img {
  vertical-align: middle;
  width: 100%;
}

/* line 38, ../scss/base.scss */
a {
  text-decoration: none;
  color: #686868;
}

/* line 43, ../scss/base.scss */
div.top-bar {
  position: fixed;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  background-color: #a11e5a;
  border-bottom: 1px solid #999;
  z-index: 200;
}

/* line 54, ../scss/base.scss */
h1 {
  color: #a11e5a;
  font-size: 36px;
  font-family: 'Pontano Sans', Helvetica, sans-serif;
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  display: inline-block;
}

/* line 64, ../scss/base.scss */
h2 {
  color: #a11e5a;
  font-size: 14px;
  font-family: 'Pontano Sans', sans-serif;
  display: inline-block;
}

/* line 71, ../scss/base.scss */
h4 {
  color: #a11e5a;
  font-size: 24px;
  font-family: 'Pontano Sans', Helvetica, sans-serif;
}

/*  --------------------------------------------------
  Canvas
  -------------------------------------------------- */
/* line 81, ../scss/base.scss */
div.canvas {
  position: relative;
  width: 100%;
  height: 350px;
  text-align: center;
  top: 0;
  display: inline-block;
}

/* line 90, ../scss/base.scss */
div.main-container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  width: 900px;
  margin-left: -450px;
  display: inline;
}

/* line 100, ../scss/base.scss */
div.main-bar {
  width: 850px;
  height: 130px;
  display: inline-block;
}

/* line 106, ../scss/base.scss */
.p_left {
  position: absolute;
  width: 450px;
}

/* line 111, ../scss/base.scss */
.p_right {
  position: absolute;
  width: 250px;
  right: 0px;
}

/* line 117, ../scss/base.scss */
ul.styled-list {
  list-style-type: none;
}

/* line 121, ../scss/base.scss */
li {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 126, ../scss/base.scss */
.above {
  z-index: 100;
}

/* line 130, ../scss/base.scss */
.small {
  font-size: 14px;
}

/* line 134, ../scss/base.scss */
.btn {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
  border-radius: 6px;
  background-color: #bbb;
  font-size: 12px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  /*border:1px solid #333;*/
  color: #000;
  border: 1px solid #bbb;
}

/* line 150, ../scss/base.scss */
.btn:hover {
  border: 1px solid #000;
}

/* line 154, ../scss/base.scss */
.btn-short {
  width: 70px;
}

/* line 159, ../scss/base.scss */
.btn-long {
  width: 110px;
}

/* line 1, ../scss/eventpage.scss */
body#eventPage {
  /*  --------------------------------------------------
    Right-navigation
    -------------------------------------------------- */
  /*  --------------------------------------------------
    Upper Panels
    -------------------------------------------------- */
  /* --------------------------------------------------
    Facebook panel and Twitter Feed
    ------------------------------------------------- */
  /* --------------------------------------------------
    Calendar
    -------------------------------------------------- */
  /* Handcrafted by Ilter Canberk  */
  /* -------------------------------------------------- 
     Table of Contents
  -----------------------------------------------------
  :: Global Reset
  :: Canvas
  :: Event
  */
  /*	--------------------------------------------------
  	Global Reset & Standards
  	-------------------------------------------------- */
  /*	--------------------------------------------------
  	Canvas
  	-------------------------------------------------- */
  /*	--------------------------------------------------
  	Event
  	-------------------------------------------------- */
}
/* line 2, ../scss/eventpage.scss */
body#eventPage div.cover-picture {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  height: 350px;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background: url("/static/img/cover.jpg") no-repeat center center;
  -webkit-background-size: cover;
}
/* line 15, ../scss/eventpage.scss */
body#eventPage div.cover-button {
  position: absolute;
  top: 250px;
  right: 30px;
  display: none;
}
/* line 22, ../scss/eventpage.scss */
body#eventPage div.cover-picture:hover .cover-button {
  display: inline;
}
/* line 26, ../scss/eventpage.scss */
body#eventPage span.uiButtonText {
  padding: 4px 4px 4px 4px;
  color: #333;
  background-color: white;
}
/* line 32, ../scss/eventpage.scss */
body#eventPage div.navigation {
  position: fixed;
  bottom: 0px;
  right: 18%;
}
/* line 41, ../scss/eventpage.scss */
body#eventPage .navigation ul {
  margin: 0px;
  background: #fff;
  list-style: none;
  padding: 2px;
  width: 100px;
}
/* line 50, ../scss/eventpage.scss */
body#eventPage .navigation ul li {
  background: #fff;
  list-style: none;
  text-align: left;
  padding: 3px;
  padding-left: 20px;
  height: 30px;
  border-left: 3px solid #999;
  margin: 2px;
}
/* line 66, ../scss/eventpage.scss */
body#eventPage .panel {
  background-color: #e5e4e4;
  height: 220px;
  top: 60px;
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
  padding: 0 30px 0 30px;
}
/* line 75, ../scss/eventpage.scss */
body#eventPage .panel h1, body#eventPage .panel h2, body#eventPage .panel h3 {
  display: block;
}
/* line 79, ../scss/eventpage.scss */
body#eventPage h2.subtitle {
  margin-top: 30px;
  font-size: 24px;
  margin-bottom: 15px;
}
/* line 85, ../scss/eventpage.scss */
body#eventPage .hey {
  width: 500px;
  padding: 0px;
  margin: 0px;
}
/* line 94, ../scss/eventpage.scss */
body#eventPage #facebook {
  margin-top: 42px;
  float: left;
}
/* line 95, ../scss/eventpage.scss */
body#eventPage #twitterfeed {
  float: right;
}
/* line 96, ../scss/eventpage.scss */
body#eventPage #twitterfeed .announcement {
  background-color: rgba(255, 233, 0, 0.1);
}
/* line 98, ../scss/eventpage.scss */
body#eventPage #facebook img {
  height: 50px;
  width: 50px;
  margin-right: 12px;
}
/* line 104, ../scss/eventpage.scss */
body#eventPage #facebook .friend {
  height: 60px;
}
/* line 108, ../scss/eventpage.scss */
body#eventPage #facebook .friend p {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 113, ../scss/eventpage.scss */
body#eventPage #facebook h1 {
  margin-bottom: 10px;
}
/* line 114, ../scss/eventpage.scss */
body#eventPage #facebook h2 {
  display: inline;
}
/* line 118, ../scss/eventpage.scss */
body#eventPage .social_panel {
  margin-top: 20px;
  width: 370px;
  height: 200px;
  overflow: scroll;
  text-align: left;
  font-size: 11pt;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  -moz-box-shadow: 3px 3px 4px 6px #ccc;
  -webkit-box-shadow: 3px 3px 4px 6px #ccc;
  box-shadow: 3px 3px 4px 6px #ccc;
}
/* line 131, ../scss/eventpage.scss */
body#eventPage .social_panel h1 {
  position: relative;
  font-size: 24px;
  margin-top: 0pt;
  margin-bottom: 5px;
  top: -5px;
}
/* line 139, ../scss/eventpage.scss */
body#eventPage #twitterfeed p {
  border-bottom: solid 1px #a11e5a;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 152, ../scss/eventpage.scss */
body#eventPage .calendar-canvas {
  position: absolute;
  top: 700px;
  width: 100%;
  height: 100%;
  background-color: #aadc2d;
  overflow: hidden;
}
/* line 161, ../scss/eventpage.scss */
body#eventPage .calendar-container {
  position: relative;
  margin-top: 90px;
  margin-left: 5%;
  margin-bottom: 10px;
  width: 90%;
  height: 80%;
  background-color: #fff;
  overflow: scroll;
}
/* line 191, ../scss/eventpage.scss */
body#eventPage #single {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 720px;
  padding: 0px;
  margin: 0;
  left: 0%;
  border-color: #D6D6D6;
  border-width: 0px;
  background-color: #fff;
}
/* line 205, ../scss/eventpage.scss */
body#eventPage #events {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  left: 0px;
}
/* line 214, ../scss/eventpage.scss */
body#eventPage div.hrs {
  width: 100%;
  height: 60px;
  border-bottom-width: 1px;
  border-bottom-color: #c8c8c8;
  border-bottom-style: dotted;
}
/* line 222, ../scss/eventpage.scss */
body#eventPage div.half-hrs {
  width: 600px;
  height: 29px;
  font-size: 8px;
  border-bottom-width: 1px;
  border-bottom-color: #c8c8c8;
  border-bottom-style: dotted;
}
/* line 231, ../scss/eventpage.scss */
body#eventPage div.label {
  margin-left: 15px;
  margin-top: -42px;
  position: absolute;
  color: #c9c9c9;
  font-size: 18px;
  height: 60px;
}
/* line 240, ../scss/eventpage.scss */
body#eventPage #highlight {
  font-weight: 800;
  font-size: 54px;
}
/* line 248, ../scss/eventpage.scss */
body#eventPage .event {
  color: #000;
  border-left-width: 1px;
  position: absolute;
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.7;
  border-color: #a11e5a;
  border-style: solid;
  border-width: 2px;
  z-index: 1;
  text-align: center;
  margin-left: 5px;
  background-color: #fff;
}
/* line 264, ../scss/eventpage.scss */
body#eventPage .event:hover {
  border-color: #AADC2D;
  background-color: #eee;
}
/* line 270, ../scss/eventpage.scss */
body#eventPage .event .selected {
  border-color: #AADC2D;
  background-color: #AADC2D;
}
/* line 275, ../scss/eventpage.scss */
body#eventPage #title {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  display: block;
}

/* line 3, ../scss/landing.scss */
body#landingPage .top-bar-huge {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10px;
  background-color: #a11e5a;
  z-index: 200;
}
/* line 13, ../scss/landing.scss */
body#landingPage .bottom-bar {
  position: absolute;
  top: 580px;
  left: 0px;
  width: 100%;
  height: 230px;
  background-color: #aadc2d;
}
/* line 22, ../scss/landing.scss */
body#landingPage .landing-container {
  position: absolute;
  top: 50px;
}
/* line 27, ../scss/landing.scss */
body#landingPage h1 {
  margin-top: 180px;
  font-size: 72px;
}
/* line 32, ../scss/landing.scss */
body#landingPage h2 {
  color: #000;
  font-size: 36px;
}
/* line 37, ../scss/landing.scss */
body#landingPage h3 {
  color: #000;
  font-size: 18px;
  font-weight: 300;
}
/* line 43, ../scss/landing.scss */
body#landingPage .event-list {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  margin: 10px;
  margin-top: 110px;
  background-color: #fff;
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #999;
  border-radius: 3px;
}
/* line 56, ../scss/landing.scss */
body#landingPage .landingbg {
  height: 80%;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url("/static/img/landingbg.jpeg");
  -webkit-background-size: cover;
  width: 280px;
}
/* line 65, ../scss/landing.scss */
body#landingPage .social {
  margin-top: 20px;
}
/* line 68, ../scss/landing.scss */
body#landingPage .social img {
  width: 100%;
  margin: 5px;
}
/* line 73, ../scss/landing.scss */
body#landingPage .above {
  z-index: 2;
  position: absolute;
}
/* line 78, ../scss/landing.scss */
body#landingPage ul.event-list li {
  font-size: 14px;
  font-weight: bold;
  padding: 7px;
}
/* line 84, ../scss/landing.scss */
body#landingPage ul.event-list li.selected {
  background-color: #aadc2d;
  border-radius: 3px;
}
/* line 89, ../scss/landing.scss */
body#landingPage .p_right {
  height: 580px;
}
/* line 93, ../scss/landing.scss */
body#landingPage .event-details {
  width: 100%;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #999999;
  line-height: 1.7em;
}
/* line 102, ../scss/landing.scss */
body#landingPage .organizer-list li {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 107, ../scss/landing.scss */
body#landingPage img {
  width: auto;
  margin-left: 80px;
  zoom: .8;
}
/* line 113, ../scss/landing.scss */
body#landingPage .powered-by {
  margin-top: 20px;
}
/* line 117, ../scss/landing.scss */
body#landingPage .powered-by h3 {
  font-weight: 800;
}

/* line 3, ../scss/manager.scss */
body#managerPage .manager-container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  width: 950px;
  margin-left: -475px;
  display: inline;
}
/* line 13, ../scss/manager.scss */
body#managerPage .manager-title {
  margin-top: 15px;
  margin-bottom: 20px;
}
/* line 18, ../scss/manager.scss */
body#managerPage .name {
  font-size: 60px;
}
/* line 22, ../scss/manager.scss */
body#managerPage .chatter {
  font-family: 'Pontano Sans', Helvetica, sans-serif;
  font-size: 42px;
}
/* line 27, ../scss/manager.scss */
body#managerPage .manager-box {
  width: 300px;
  border: 1px solid #AADC2D;
  box-sizing: border-box;
  margin-top: 20px;
  min-height: 400px;
  background: white;
}
/* line 36, ../scss/manager.scss */
body#managerPage .event-info {
  position: absolute;
  width: 450px;
}
/* line 41, ../scss/manager.scss */
body#managerPage .event-chatter {
  position: absolute;
  width: 450px;
  right: 0px;
}
/* line 47, ../scss/manager.scss */
body#managerPage .box-header {
  background: #E5E4E4;
  padding: 5px;
  height: 55px;
}
/* line 53, ../scss/manager.scss */
body#managerPage .box-body {
  padding: 10px;
  color: #888;
  margin-bottom: 20px;
}
/* line 59, ../scss/manager.scss */
body#managerPage .body-info {
  font-weight: bold;
  color: #222;
}
/* line 64, ../scss/manager.scss */
body#managerPage .row {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
/* line 70, ../scss/manager.scss */
body#managerPage .body_cont {
  margin-top: 80px;
}
/* line 74, ../scss/manager.scss */
body#managerPage .p_left {
  width: 500px;
}
/* line 78, ../scss/manager.scss */
body#managerPage .p_right {
  width: 350px;
}
/* line 82, ../scss/manager.scss */
body#managerPage .top-bar-management {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: #A11E5A;
  box-shadow: 0px 2px 5px #777;
  z-index: 200;
  /*border-bottom: 2px solid #A11E5A;*/
}
/* line 94, ../scss/manager.scss */
body#managerPage .top-bar-management h1 {
  color: white;
}
/* line 98, ../scss/manager.scss */
body#managerPage ul {
  list-style-type: none;
  left: 0;
  margin-left: 0;
}
/* line 103, ../scss/manager.scss */
body#managerPage li.category {
  margin-left: -30px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
}
