  div.cover-picture{
    position:relative;
    width:100%;
    left:0;
    top:0;
    height:350px;
    border: 1px solid black;
    border-color:rgba(0, 0, 0, .25);
    overflow: hidden;
    background: url('../img/cover.jpg') no-repeat center center; 
    -webkit-background-size: cover;
  }

  div.cover-button {
    position: absolute;
    top:250px;
    right:30px;
    display: none;
  }

  div.cover-picture:hover .cover-button{
    display: inline;
  }

  span.uiButtonText {
    padding: 4px 4px 4px 4px;
    color:#333;
    background-color:white;
  }

  div.navigation {
    position:fixed;
    bottom:0px;
    right:18%;
  }

/*  --------------------------------------------------
  Right-navigation
  -------------------------------------------------- */
  .navigation ul {
    margin:0px;
    background: #fff;
    list-style:none;
    padding:2px;
    width:100px;

  }

  .navigation ul li{
    background: #fff;
    list-style:none;
    text-align:left;
    padding:3px;
    padding-left:20px;
    height:30px;
    border-left:3px solid #999;
    margin:2px;
  }


/*  --------------------------------------------------
  Upper Panels
  -------------------------------------------------- */

.panel {
  background-color:#e5e4e4;
  height: 220px;
  top:60px;
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
  padding: 0 30px 0 30px;
}
.panel h1, .panel h2, .panel h3 {
  display:block
}

h2.subtitle {
  margin-top:30px;
  font-size:24px;
  margin-bottom:15px;
}

.hey{
  width:500px;
  padding: 0px;
  margin: 0px;
}

/* --------------------------------------------------
  Facebook panel and Twitter Feed
  ------------------------------------------------- */
#facebook{ margin-top:42px; float:left }
#twitterfeed { float:right }
#twitterfeed  .announcement { background-color: rgba(255,233,0,.1); }

#facebook img {
  height:50px;
  width:50px;
  margin-right:12px;
}

#facebook .friend {
  height: 60px;
}

#facebook .friend p {
  margin:0;
  padding: 0;
  display: inline
}
#facebook h1 {margin-bottom:10px}
#facebook h2 {
  display: inline
}

.social_panel {
  margin-top:20px;
  width: 370px;
  height: 200px;
  overflow: scroll;
  text-align:left;
  font-size:11pt;
  background-color:rgba(255,255,255,.2);
  padding: 20px;
  -moz-box-shadow:    3px 3px 4px 6px #ccc;
  -webkit-box-shadow: 3px 3px 4px 6px #ccc;
  box-shadow:         3px 3px 4px 6px #ccc;
}
.social_panel h1 {
  position:relative;
  font-size: 24px;
  margin-top:0pt;
  margin-bottom:5px;
  top:-5px;
}

#twitterfeed p {
  border-bottom: solid 1px #a11e5a;
  margin-top:0px;
  margin-bottom:0px;
  padding-top:5px;
  padding-bottom:5px;
}


/* --------------------------------------------------
  Calendar
  -------------------------------------------------- */

.calendar-canvas {
  position:absolute;
  top:700px;
  width: 100%;
  height: 100%;
  background-color: #aadc2d;
  overflow: hidden;
}

.calendar-container {
  position: relative;
  margin-top:90px;
  margin-left: 5%;
  margin-bottom:10px;
  width: 90%;
  height: 80%;
  
  background-color:#fff;
  overflow: scroll;
}
