.manager-container{
    position:absolute;
    height:100%;
    top:0;
    left:50%;
    width:950px;
    margin-left:-475px;
    display: inline;
}

.manager-title{
	margin-top:15px;
	margin-bottom:20px;
}

.name{
	font-size:60px;
}

.chatter{
	font-family: 'Pontano Sans', Helvetica, sans-serif;
	font-size:42px;
}

.manager-box{
	width:300px;
	border:1px solid #AADC2D;
	box-sizing: border-box;
	margin-top:20px;
	min-height: 400px;
	background: white;
}

.event-info{
    position: absolute;
    width: 450px;
}

.event-chatter{
    position: absolute;
    width: 450px;
    right:0px;
}

.box-header{
	background:#E5E4E4;
	padding: 5px;
	height:55px;
}

.box-body{
	padding:10px;
	color:#888;
	margin-bottom:20px;
}

.body-info{
	font-weight:bold;
	color:#222;
}

.row{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
}

.body_cont {
	margin-top:80px;
}

.p_left {
	width:500px;
}

.p_right {
	width:350px;
}

.top-bar-management {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	background-color: #A11E5A;
	box-shadow: 0px 2px 5px #777;
	z-index: 200;
	/*border-bottom: 2px solid #A11E5A;*/
}

.top-bar-management h1{
	color: white;
}

ul {
	list-style-type:none;
	left:0;
	margin-left:0;
}
li.category {
	margin-left:-30px;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:#fff;
	padding: 10px;
}

